
<div class="grid-contacts-container" ng-controller="ContactsCtrl">

    <table class="table">
        <thead>
        <tr>
            <th ng-repeat="field in fields"  ng-if="field!='_id' && field!='__v'" ng-bind="field | labelCase">
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="contact in contacts">
            <th ng-repeat="(key, value) in contact" ng-if="key!='_id' && key!='__v'" ng-bind="value"></th>
            <th><button ng-click="deleteContact(contact._id)" ><span class="glyphicon glyphicon-remove"></span></button></th>
            <th><button ng-click="editContact(contact)"><span class="glyphicon glyphicon-pencil"></span></button></th>
        </tr>
        </tbody>
    </table>
</div>