
#absolute {
    background-image: url("http://files.sharenator.com/11427_Digital_Amazing_Art_NiceFun_2_1-s1024x768-395350.jpg");
    background-color: #000000;
    position: absolute;
    top: 7%;
    left: 0%;
    padding-left: 400px;
    padding-right: 400px;
    padding-top: 150px;
    width: 100%;
    height: 100%;

}

a {
    color: hotpink;
    cursor: pointer;
}
a:link {
    color: red;
}

/* visited link */
a:visited {
    color: green;
}

/* mouse over link */
a:hover {
    color: #ff1210;
}

/* selected link */
a:active {
    color: blue;
}
