
#absolute {
    position: absolute;
    top: 7%;
    left: 0%;
    padding-left: 100px;
    padding-top: 100px;
    width: 40%;
    height: 20%;

}

a {
    color: hotpink;
    cursor: pointer;
}
a:link {
    color: red;
}

/* visited link */
a:visited {
    color: green;
}

/* mouse over link */
a:hover {
    color: #ff1210;
}

/* selected link */
a:active {
    color: blue;
}


#another {


    padding-left: 600px;
    padding-right: 50px;
    padding-top: 100px;
}
    p {
    color: #ff0c05;
}
